name: Build Electron App
on:
    push:
        tags:
          - 'v*'
jobs :
    build :
        name : Build
        runs-on : windows-latest
        steps :
            - name: Checkout repo
              uses : actions/checkout@v4

            - name: Setup Node.js
              uses: actions/setup-node@v4
              with:
                node-version: 20
                cache: npm

            - name: Install dependencies
              run: npm ci

            - name: Build Electron app
              run: npm run build
              env:
                GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}

            - name: GitHub Release
              uses: softprops/action-gh-release@v2
              with:
                files: |
                  dist/*.exe
              env:
                GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}