name: Create Release Tag

on:
  workflow_dispatch:
    inputs:
      version:
        description: '1.0.1'
        required: true

jobs:
  tag:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Create tag
        run: |
          git tag v${{ github.event.inputs.version }}
          git push origin v${{ github.event.inputs.version }}